.sponsorTitle{
text-align: center;
}
.sponsorTitle h1 {
font-size: 40px;
font-weight: 700;
}

.sponsorTitle p {
font-size: 16px;
font-weight: 400;
line-height: 22px;
padding-top: 16px;
}

.sponsors {
width: 88%;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
margin: 1rem auto;
gap: 3rem;
padding-bottom: 2rem;
}
.sponsors img {
width: 140px;
height: 40px;
}

@media only screen and (max-width: 1040px) {
.sponsors {
width: 94%;
gap: 2rem;
margin-top: 1.4rem;
}
} 
@media only screen and (max-width: 742px) {
.sponsors {
width: 76%;
padding-top: 0.6rem;
}
.sponsors img {
width: 110px;
height: 30px;
}
.sponsorTitle h1 {
font-size: 32px;
}
.sponsorTitle p {
font-size: 12px;
}
}
@media only screen and (max-width: 510px) {
.sponsors {
width: 90%;
}
.sponsors img {
width: 86px;
height: 30px;
}
}